@import "colors";

a{
  color: $color-green;
}
label{
  font-weight: bold;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.page-h1{
  margin-bottom: 50px;
}

.form-submit-success-message{
  margin-bottom: 50px !important;
}

.main-menu.mb-0{
  margin-bottom: 0 !important;
}

.main-content-container{
  min-height: 535px;
}