.home-header{
  min-height: 500px;
  background-image: url("/images/bg.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-color: #eee !important;

}

.home-header-title{
  margin-top: 200px !important;
  font-size: 60px !important;
}
.home-bg{
}

