@import "../colors";

.main-menu{
  margin-bottom: 50px !important;
}

.notification-count{
  position: relative;
  left: -20px;
  top: -10px
}

.notification-list-item{
  padding: 5px 10px !important;
}

.notification-unread .notification-description{
  font-weight: bold;
  color: $color-blue;
}

.notification-description{
  font-size: 13px;
  margin-bottom: 5px;
  color: $color-black;
}



.notification-time{
  font-size: 10px;
  text-align: right;
  color: $color-grey
}